
h2{
    
    color:blue;
    padding:50px;
    margin:auto;  
    text-align:left; 
}
.container{
    width:1200px;
    margin:auto;

}
p{
    
    display:inline;
    margin:auto;
    text-align: left;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.box1{
    width:35%;
    margin:auto;
    border:solid gray;
}
.box2{
    width: 200%;
    margin:auto;
    border:solid gray;
}

